body{
    margin:0px;
    padding: 30px;
    background:solid #4a90e2 ;
}
.index-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.card {
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 16px;
    width: 200px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    border-color: #4a90e2;
    text-align: center;
}